body{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10rem;
    text-align: center;
    display: block;
}
h3{
    font-size: 30px;
    color: blue;
    
}
.user{
    
    font-size: 20px;
    font-family: poppin;
    font-weight: 600px;
    margin-left: 3rem;
}